* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-family: 'Poppins', sans-serif;
   background-color: rgb(249, 213, 219);
   padding: 1.25rem;
}
.gallery-title {
   font-size: 2.5rem;
   font-weight: 600;
   color: #333;
   margin-bottom: 40px;
   text-align: center;
}


.gallery-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
   padding: 20px;
}


.card {
   background-color: pink;
   flex: 1 1 23%; 
   padding: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   text-align: center;
   height: 700px;
}


.card img {
   width: 100%;
   height: auto;
   border-radius: 8px;
}


.card h3 {
   font-size: 1.2rem;
   margin: 15px 0 10px;
}


.card p {
   font-size: 1rem;
   color: #727272;
}
