body {
    font-family: 'Lucida Console', 'Courier New', monospace;
    background-color: #f4ddf9;
    margin: 0;
    padding: 0;
    text-align: center;
 }
 
 .heading{
    margin:20px;
    size: 40px

 }
 .parent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin:1rem suto;
    align-items: stretch;
    border: 20px;
    display: flex
 }
 
 .card{
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:2 2 rem 0 rem;
    margin-bottom: 10 rem;
    border-radius: 50 px;
    border: 20 px black
   



 }
